<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anngrynerds.kidssafari">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KidsSafari2">
        <activity android:name=".spellGame.SpellingGameScreen"></activity>
        <activity android:name=".spellGame.spellFrontScreen" />
        <activity android:name=".mathGame.MathGameScreen" />
        <activity android:name=".mathGame.frontScreen" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9666108206323574~4941643756" />

        <activity
            android:name=".splash"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainScreen" />
    </application>

</manifest>